flows.json
[{"id":"a25652d0.f0d15","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"82eadb69.019378","type":"function","z":"a25652d0.f0d15","name":"PreToken","func":"global.set(\"lh\",msg.payload.lh)\nglobal.set(\"wt\",msg.payload.wt)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"ip\",msg.payload.ip)\nglobal.set(\"nt\",msg.payload.nt)\nglobal.set(\"bt\",msg.payload.bt)\nglobal.set(\"ps\",msg.payload.ps)\nglobal.set(\"fs\",msg.payload.fs)\nglobal.set(\"rough\",msg.payload.rough)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"elong\",msg.payload.elong)\nvar apikey=\"7RlFEuuFkuUPMa9ghiYKKlmzMrqRUYdZKARLyr_NOho0\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":540,"wires":[["79919f2b.3f58b"]]},{"id":"79919f2b.3f58b","type":"http request","z":"a25652d0.f0d15","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":460,"wires":[["b2fdcc16.d7f17","f9897ac1.394d88"]]},{"id":"c0297876.e459a8","type":"debug","z":"a25652d0.f0d15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":40,"wires":[]},{"id":"b2fdcc16.d7f17","type":"function","z":"a25652d0.f0d15","name":"Pre Prediction","func":"var lh = global.get('lh')\nvar wt = global.get('wt')\nvar id = global.get('id')\nvar ip = global.get('ip')\nvar nt = global.get('nt')\nvar bt = global.get('bt')\nvar ps = global.get('ps')\nvar fs = global.get('fs')\nvar rough = global.get('rough')\nvar ts = global.get('ts')\nvar elong = global.get('elong')\nvar token=msg.payload.access_token\nvar instance_id=\"f90a3ae2-9094-4e5e-be0f-a122b1c9759c\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"layer_height\", \"wall_thickness\", \"infill_density\", \"infill_pattern\", \"nozzle_temperature\", \"bed_temperature\", \"print_speed\", \"fan_speed\", \"roughness\", \"tension_strenght\", \"elongation\"],\"values\": [[lh,wt,id,ip,nt,bt,ps,fs,rough,ts,elong]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":380,"wires":[["e2f68b20.611578"]]},{"id":"e2f68b20.611578","type":"http request","z":"a25652d0.f0d15","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/cef1958f-4c59-48df-b658-a8c45114c1a4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":220,"wires":[["42446ad.95cf794","c0297876.e459a8"]]},{"id":"cf5c8d3e.e067d","type":"ui_form","z":"a25652d0.f0d15","name":"","label":"","group":"588fb820.e31e08","order":1,"width":0,"height":0,"options":[{"label":"layer_height","value":"lh","type":"number","required":true,"rows":null},{"label":"wall_thickness","value":"wt","type":"number","required":true,"rows":null},{"label":"infill_density","value":"id","type":"number","required":true,"rows":null},{"label":"infill_pattern","value":"ip","type":"text","required":true,"rows":null},{"label":"nozzle_temperature","value":"nt","type":"number","required":true,"rows":null},{"label":" bed_temperature","value":"bt","type":"number","required":true,"rows":null},{"label":"print_speed","value":"ps","type":"number","required":true,"rows":null},{"label":"fan_speed","value":"fs","type":"number","required":true,"rows":null},{"label":"roughness","value":"rough","type":"number","required":true,"rows":null},{"label":"tension_strenght","value":"ts","type":"number","required":true,"rows":null},{"label":"elongation","value":"elong","type":"number","required":true,"rows":null}],"formValue":{"lh":"","wt":"","id":"","ip":"","nt":"","bt":"","ps":"","fs":"","rough":"","ts":"","elong":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":620,"wires":[["82eadb69.019378"]]},{"id":"9d341b61.9ee318","type":"ui_text","z":"a25652d0.f0d15","group":"588fb820.e31e08","order":2,"width":0,"height":0,"name":"","label":"Material","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":380,"wires":[]},{"id":"42446ad.95cf794","type":"function","z":"a25652d0.f0d15","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":220,"wires":[["c0297876.e459a8","9d341b61.9ee318"]]},{"id":"f9897ac1.394d88","type":"debug","z":"a25652d0.f0d15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":460,"wires":[]},{"id":"588fb820.e31e08","type":"ui_group","z":"","name":"3D printer material","tab":"6e27472a.8f79f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"6e27472a.8f79f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]